# ===== build artifacts =====
/build/
/build-*/

# ===== CMake =====
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake

# ===== IDE =====
**/.vscode/
**/.idea/

# ===== temp =====
**/*~
**/*.log